{% extends "base.html" %}

{% block page_content %} 

{% load crispy_forms_tags %}  
{% load bootstrap4 %}  
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<!--Edit Post Form-->
<div class="container py-5">
	<h1>Edit Post</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row mb-3">
			<div class="col-sm-6">
				{{ form.title|as_crispy_field }}
			</div>
			<div class="col-sm-6">
				{{ form.price|as_crispy_field }}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-sm-6">
				{{ form.start_loc|as_crispy_field }}
			</div>
			<div class="col-sm-6">
				{{ form.end_loc|as_crispy_field }}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-sm-12">
				{{ form.expiration_date|as_crispy_field }}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-sm-12">
				{{ form.time_estimate|as_crispy_field }}
			</div>
		</div>
		{% if errors %}
			<div class="alert alert-danger">
				<strong>There was an error in the form submission:</strong>
				<ul>
					{% for field, error_list in errors.items %}
						{% for error in error_list %}
							<li>{{ field }}: {{ error }}</li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<button class="btn btn-primary" type="submit">Submit</button>
		<a href="{% url 'delete_post' post.pk %}" class="btn btn-primary">Take Down Post</a>
	</form>
</div>


{% endblock %}
