{% extends "base.html" %}
{% block page_content %}



<div class="col feed">

<h1>Feed</h1>

{% if query %}
    <h3>Search results for "{{ query }}"</h3>
{% endif %}

{% for post in posts %}
    <div class="post md-4 mx-auto" data-aos="fade-up" data-aos-offset="100", data-aos-duration="1000">
        <div class="card rounded-3">
          <div class="card-body d-flex justify-content-between">
            <div class="d-flex flex-column">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text text-muted">{{ post.start_loc }} &rarr; {{ post.end_loc }}</p>
              <p class="card-text text-muted">By {{ post.expiration_date }}</p>
            </div>
            <h4 class="card-price text-right">${{ post.price }}</h4>
          </div>
      
          <div class="card-footer bg-white text-center">
            {% if request.user.is_authenticated %}
            {% if post.user == request.user %}
            <a href="{% url 'edit_post' post.pk %}" class="btn btn-primary">Edit / Take Down</a>
            {% else %}
            <a href="{% url 'post_details' post.pk %}" class="btn btn-primary">Accept?</a>
            {% endif %}
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Login to accept</a>
            {% endif %}
          </div>
        </div>
      </div>
{% endfor %}

</div>

<!--Make A Post / Login Button-->
<div class="fixed-bottom d-flex justify-content-center">
  {% if request.user.is_authenticated %}
      <a href="{% url 'make_post' %}" class="btn-block btn-primary">Make a Post</a>
  {% else %}
      <a href="{% url 'login' %}" class="btn-block btn-primary">Login to Make a Post</a>
  {% endif %}
 </div>

{% endblock %}
