
{% extends "base.html" %}

{% block page_content %}

<h1>{{ post.title }}</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Price: {{ post.price }}</h2>
        <h2>Start Location: {{ post.start_loc }}</h2>
        <h2>End Location: {{ post.end_loc }}</h2>
        <h2>Expiration Date: {{ post.expiration_date }}</h2>
        <h2>Time Estimate: {{ post.time_estimate }}</h2>
    </div>
    <div class="col-md-4">
        <h2>Posted By: {{ post.user }}</h2>
        <h2>Posted On: {{ post.created_at }}</h2>
    </div>
</div>

{% endblock %}